*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{/*SELETOR DE ELEMENTO*/
    border: #ff0000 dashed 4px;
    margin: 30px 0; /*Originalmente essas medidas estavam assim: 30px 0 30px 0;(não é necessário repetir quando igual*/
    padding: 30px;
    text-align: center;
}
#cifrao{/*SELETOR DE ID*/
    color: green;
}
footer{
    background-color: #555555;
    color: #ffff;
    padding: 20px;
}
.produto-item{
    color: rgb(201, 21, 21);
    font-weight: bold;
}